p {
  text-align: center;
  color: darkmagenta;
  font-style: italic;
}

/* moon shape */
.center {
  margin: 40px auto;
  width: 100px;
  height: 100px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 25px 10px 0 0 yellow;
}

/* heart shape */
.heart {
  margin: 40px auto;
  background-color: pink;
  height: 50px;
  width: 50px;
  transform: rotate(-45deg);
}
.heart::after {
  background-color: pink;
  content: "";
  border-radius: 50%;
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0px;
  left: 25px;
}
.heart::before {
  content: "";
  background-color: pink;
  border-radius: 50%;
  position: absolute;
  width: 50px;
  height: 50px;
  top: -25px;
  left: 0px;
}

/* button with keyframes */
button {
  margin: 40px 47%;
  border-radius: 5px;
  color: white;
  background-color: #0f5897;
  padding: 5px 10px 8px 10px;
}
button:hover {
  animation-name: background-color;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}
@keyframes background-color {
  100% {
    background-color: #4791d0;
  }
}

/*movement rainbow rectangle*/
.movement {
  height: 40px;
  width: 70%;
  background: cyan;
  margin: 50px auto;
  border-radius: 5px;
  position: relative;
}

#rect {
  animation-name: rainbow;
  animation-duration: 4s;
}

@keyframes rainbow {
  0% {
    background-color: blue;
    top: 0px;
    left: 0px;
  }
  50% {
    background-color: green;
    top: 50px;
    left: 25px;
  }
  100% {
    background-color: yellow;
    top: 0px;
    left: -25px;
  }
}

/* an element (ball) fades*/
.p-jumping {
  margin-top: 170px;
}

#ball {
  width: 70px;
  height: 70px;
  margin: 40px auto;
  position: absolute;
  left: 20%;
  border-radius: 50%;
  background: linear-gradient(35deg, #ccffff, #ffcccc);
  animation-name: fade;
  animation-duration: 3s;
}

@keyframes fade {
  50% {
    left: 60%;
    opacity: 0.1;
  }
}

/*animation-iteration-count, jumpinh ball*/
.jumping-div {
  height: 450px;
}

#jumping-ball {
  width: 100px;
  height: 100px;
  margin: 50px auto;
  position: relative;
  border-radius: 50%;
  background: linear-gradient(35deg, #ccffff, #ffcccc);
  animation-name: bounce;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes bounce {
  0% {
    top: 0px;
  }
  50% {
    top: 249px;
    width: 130px;
    height: 70px;
  }
  100% {
    top: 0px;
  }
}

/* heartbeat */
/*
.back {
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  animation-name: backdiv;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
*/

.heartbeat {
  /* position: absolute; */
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: pink;
  height: 50px;
  width: 50px;
  transform: rotate(-45deg);
  animation-name: beat;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
.heartbeat:after {
  background-color: pink;
  content: "";
  border-radius: 50%;
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0px;
  left: 25px;
}
.heartbeat:before {
  background-color: pink;
  content: "";
  border-radius: 50%;
  position: absolute;
  width: 50px;
  height: 50px;
  top: -25px;
  left: 0px;
}

@keyframes backdiv {
  50% {
    background: #ffe6f2;
  }
}

@keyframes beat {
  0% {
    transform: scale(1) rotate(-45deg);
  }
  50% {
    transform: scale(0.6) rotate(-45deg);
  }
}

/* two stars */
.stars {
  background-color: white;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  animation-iteration-count: infinite;
}

.star-1 {
  background-color: yellow;
  margin-top: -2%;
  margin-left: 60%;
  animation-name: twinkle-1;
  animation-duration: 1s;
}

.star-2 {
  margin-top: -12%;
  margin-left: 25%;
  animation-name: twinkle-2;
  animation-duration: 1s;
}

@keyframes twinkle-1 {
  20% {
    transform: scale(0.5);
    opacity: 0.5;
  }
}

@keyframes twinkle-2 {
  20% {
    transform: scale(0.5);
    opacity: 0.5;
  }
}

#stars-back {
  /* position: fixed; */
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 200px;
  background: linear-gradient(black, #000099, #66c2ff, #ffcccc, #ffeee6);
}

/* a horizontal line*/
h4 {
  text-align: center;
  height: 25px;
}
.cardText p {
  text-align: justify;
}
.links {
  text-align: left;
  color: black;
}
.fullCard {
  width: 245px;
  background-color: antiquewhite;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 170px auto;
  padding: 4px;
}
.cardContent {
  padding: 10px;
}
.cardText {
  margin-bottom: 30px;
}

/* two balls with animation-timing-function */
.balls-div {
  height: 400px;
}

.balls {
  border-radius: 50%;
  position: relative;
  width: 50px;
  height: 50px;
  margin-top: 50px;
  animation-name: bounce;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
#red {
  background: red;
  left: 27%;
  animation-timing-function: cubic-bezier(0, 0, 0.58, 1);
}
#blue {
  background: blue;
  left: 56%;
  animation-timing-function: ease-out;
}
@keyframes bounce {
  0% {
    top: 0px;
  }
  100% {
    top: 249px;
  }
}

/*form with date*/
.form-date {
  text-align: center;
}

.form-date p {
  color: inherit;
  font-style: normal;
}
